<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attention Game</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <canvas id="scoreChart" width="20px" height="10px"></canvas>
    <div class="score-bar" id="score-bar">
        <div class="score" id="score">Score: 0</div>
    </div>
    <div class="game-container" id="game-container"></div>
    <script src="script.js"></script>
</body>
</html>